body{
    background-color:rgb(224, 224, 245);
}
 
#pd{
    margin: 0px 0px 0px 0px;
    float:left;
    padding: 0px 10px 10px 270px;
    
}

#vd{
    border-radius: 10px;
    background-color:white;
    margin: 150px 300px 50px 50px;
    text-align: center;
    padding: 40px 30px 30px 30px;
    float: right;
}
    
a{
    text-decoration:none;
}
input{
    border: none;
    margin: 10px 0px 0px 0px;
}

